.users {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.users li {
  position: relative;
  padding: 0 10px;
  margin-bottom: 25px;
}
.users button {
  width: 100%;
}
.delete {
  cursor: pointer;
  z-index: 5;
  position: absolute;
  right: 15px;
  top: 5px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.delete:hover {
  opacity: 1;
}
.delete:before, .delete:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.delete:before {
  transform: rotate(45deg);
}
.delete:after {
  transform: rotate(-45deg);
}

@media screen and (max-width: 767px) {
  .users {
    justify-content: center;
  }
}

